<!-- to get calories per serving rather than total -->
    <script>
      var calories = Math.floor( <%= recipe[0].calories %> );
      var servings = Math.floor( <%= recipe[0].yield %> );
      var calPerServ = Math.floor(calories/servings); 
    </script>

<div class='row'>
  <div class='col s12 m12 l12 form-background z-depth-5'>
    <h4 class='center'><%= recipe[0].label %></h4>
    <div class='col s12 m3 l3 center'>
      <img class='responsive-img activator' src='<%= recipe[0].image %>'>
      <br>
      <a href='<%= recipe[0].url %>'>Link to Source</a>
    </div>
    <div class='col s12 m3 l3'>
      <h5>Ingredients: </h5>
      <div class='ingredients detail'>
        <ul class='browser-default'>
          <% for(i = 0; i < recipe[0].ingredientLines.length; i++ ) {%>
            <li> <%= recipe[0].ingredientLines[i] %> </li>
          <% } %>
        </ul>
      </div>
    </div>

    <div class='col s12 m3 l3'>
      <h5>Additional Info:</h5>
      <div class='ingredients detail'>
        <ul>
          <li><span class='label'>Calories Per Serving:</span> <script> document.write(calPerServ) </script></li>
          <li><span class='label'>Servings:</span> <%= recipe[0].yield %> </li>
          <h5  class='health'> Health Labels: </h5>
          <% for(i = 0; i < recipe[0].healthLabels.length; i++ ) {%>
            <li><%= recipe[0].healthLabels[i] %></li>
          <% } %>
          <h5 class='caution'> Cautions: </h5>
          <% for(i = 0; i < recipe[0].cautions.length; i++ ) {%>
            <li> <%= recipe[0].cautions[i] %> </li>
          <% } %>
        </ul>
      </div>
    </div>

    <div class='col s12 m3 l3'>
      <h5>Nutrients:</h5>
      <div class='ingredients detail'>
        <ul>
          <% var nutrients = recipe[0].totalNutrients; %>
          <% var totalDaily = recipe[0].totalDaily; %>
          <% for (var item in nutrients) { %>
            <li> <span class='label'><%= nutrients[item].label %>:</span> <%= Math.floor(nutrients[item].quantity) %> <%= nutrients[item].unit %>   </li>
          <% } %>
        </ul>
        <h5  class='health'> Total Daily: </h5>
        <ul>
          <% for (var item in totalDaily) { %>
            <li> <span class='label'><%= totalDaily[item].label %>:</span> <%= Math.floor(totalDaily[item].quantity) %><%= totalDaily[item].unit %>   </li>
          <% } %>
        </ul>
      </div>
    </div>
















  </div>
</div>
